Repository KSF-Media/affresco, pull requests merged in 2020-03, with the labels that each got.

#263 Enhance/add opinion type
  apps/app-article/src/App.js
  apps/app-article/src/components/article-details.js
  apps/app-article/src/index.css
  apps/app-article/src/index.html
Labels: app/app-article

#270 Enhance/show article type
  apps/app-article/src/components/article-details.js
  apps/app-article/src/index.css
Labels: app/app-article

#271 break long words and add hyphenation
  apps/app-article/src/index.css
Labels: app/app-article

#273 remove hyphen for for now
  apps/app-article/src/index.css
Labels: app/app-article

#276 Fix/reclamation success text
  apps/mitt-konto/.build-size-sha256
  less/Subscription.less
  less/ksf-utils.less
  packages/components/src/AsyncWrapper.purs
  packages/components/src/Profile/Component.purs
  packages/components/src/Subscription/Component.purs
Labels: app/mitt-konto, enhancement

#289 Fix/Subscription update success text
  packages/components/src/Subscription/Component.purs
Labels: app/mitt-konto, enhancement

#291 Fix/subscription update success text
  apps/mitt-konto/.build-size-sha256
  apps/prenumerera/.build-size-sha256
  apps/vetrina/.build-size-sha256
Labels: app/mitt-konto, bug

#292 Refactor Subscription component
  apps/mitt-konto/.build-size-sha256
  less/Subscription.less
  packages/components/src/Subscription/Component.purs
Labels: app/mitt-konto
